{% extends 'base.html' %}

{% block content %}
<main>
    <h1>{{object.name}}</h1>
    <h2>Recipes</h2>
    {% for recipe in object.recipes.all %}
    <div class="recipe-card">
        <h3>{{recipe.name}}</h3>
        <p>{{recipe.author}}</p>
        <img src="{{recipe.image}}" />
        <p>{{recipe.description}}</p>
    </div>
    {% endfor %}
</main>

{% endblock %}