{% extends 'base.html' %}

{% block content %}
<main class="recipe-grid">
    <h1>mealplan</h1>
    {% for mealplan in object_list %}
    <div class="recipe-card">
        <h2 class="recipe-card-title">
            <a href="{% url 'mealplans_detail' mealplan.pk %}">{{ mealplan.name }}</a>
        </h2>
        <p class="recipe-card-date">{{ mealplan.updated }}</p>
    </div>
    {% endfor %}
</main>
{% endblock %}